email=pattanimrankhan57@gmail.com
#always-auth=true
_auth=YWRtaW46aW1yYW4=
#//registry.npmjs.org/:_auth=YWRtaW46ZGV2b3Bz
registry="http://54.167.89.95:3261/imran/repository/node-js/"
#allowRepublish=true
