email=pattanimrankhan57@gmail.com
#always-auth=true
_auth=YWRtaW46aW1yYW4=
#//registry.npmjs.org/:_auth=YWRtaW46ZGV2b3Bz
#registry="http://52.23.178.176:3261/imran/repository/node-js/"
allowRepublish=true
